<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eu.quelltext.wget">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.AboutActivity"
            android:parentActivityName=".activities.AboutActivity" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <!-- see https://stackoverflow.com/a/19897042/1320237 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.AboutActivity" />
        </activity>
        <activity
            android:name=".activities.ConfigurationActivity"
            android:label="@string/activity_send_name_configuration">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="ftp" />
                <data android:host="*" />
                <data android:pathPattern="/.*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:name="android.content.Intent.FLAG_ACTIVITY_NO_ANIMATION" />
                <data android:mimeType="*/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:name="android.content.Intent.FLAG_ACTIVITY_NO_ANIMATION" />
                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.CommandActivity"
            android:label="@string/title_activity_command"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.CommandListActivity"
            android:label="@string/title_activity_main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

</manifest>